.product-title {
    font-size: 30px;
    margin: 15px 0;
    text-align: center;
}
.product-description {
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
}
.product-fullDescription {
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
}
.product-features {
    font-size: 19px;
    margin-bottom: 15px;
    text-align: center;
}
.product-price {
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
}
.btn-wrap {
    display: flex;
    justify-content: center;
}
.product-img {
    text-align: center;
    img {
        width: 330px;
        height: 330px;
        border-radius: 3%;
    }
}
.product-quantity {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    input {
        text-align: center;
    }
}
.red {
    color: red;
}
.green {
    color: green;
}
.fullDescription {
    color: green;
}
