* {
    box-sizing: border-box;
}
@media (max-width: 1200px) {
    /* mobile version */
    .email,
    .number,
    .adress {
        display: none;
    }
}
@media (max-width: 1400px) {
    /* laptop version */
    body,
    footer {
        width: 1400px;
    }
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    display: flex;
    margin: 0 -15px;
}
.col-1 {
    max-width: 8.33333333%;
    flex: 0 0 8.33333333%;
}
.col-2 {
    max-width: 16.66667%;
    flex: 0 0 16.66667%;
}
.col-3 {
    max-width: 25%;
    flex: 0 0 25%;
}
.col-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
}

.col-6 {
    max-width: 50%;
    flex: 0 0 50%;
}
.col-8 {
    display: flex;
    max-width: 66%;
    flex: 0 0 66%;
}
.col-9 {
    max-width: 75%;
    flex: 0 0 75%;
}
.col-10 {
    max-width: 83.3333333%;
    flex: 0 0 83.3333333%;
}
.col-11 {
    max-width: 91.6666667%;
    flex: 0 0 91.6666667%;
}

[class*='col-'] {
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    display: flex;
    height: 100px;
    align-items: center;
    background-color: green;
}
.menu {
    display: flex;
    gap: 51px;
    list-style-type: none;
}
.menu a {
    display: flex;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 598px;
    font-size: 21px;
}

/* bascket---------------------------------------------- */

.bascket {
    display: flex;
    position: absolute;
    top: 25px;
    right: 287px;
    padding: 9px;
    width: 50px;
    height: 50px;
}

.quantity {
    position: absolute;
    right: 276px;
    top: 0px;
    left: 1400px;
    width: 110px;
}

.price {
    display: flex;
    position: absolute;
    right: 211px;
    top: 60px;
    color: white;
}
